.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding-top: 30px;
  width: 350px;
}

h2 {
  text-align: center;
}
.main {
  display: block;
  position: absolute;
  /*width: 100%;*/
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  background-color: #d2b48c;
  margin-top: 5px;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 320px) {
  .main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-left: 25%;
  }
}
