.container {
  width: 100%;
}

.project_image img {
  border-radius: 10px;
  float: left;
  height: 300px;
  margin-bottom: 5px;
}

.project-content {
  float: right;
  border-radius: 10px;
  height: 300;
  border: 1px solid green;
  padding: 20px;
  background: white;
}

h1 {
  text-align: center;
}

.firstProject {
  background-color: black;
  border: 2px solid white;
}

.col-sm-6 {
  margin: 0;
}

.title {
  background: black;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
}

.title p {
  color: white;
}
