body {
  background-color: #bbbbbb;
  padding: 20px;
  margin: 0;
  background-image: url('./jesus.jpg');
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

.header {
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
  border-radius: 8px;
  font-size: 16px;
}

.header li {
  list-style-type: none;
  margin: auto;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline;
  border: 1px solid white;
  border-radius: 10px;
}

ul.header {
  padding: 0;
}

.content {
  background-color: green;
  padding: 20px;
  border-radius: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
