.header {
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
  font-size: 20px;
}

.header li {
  list-style-type: none;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline;
  border: 1px solid white;
  border-radius: 10px;
}

ul.header {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    width: 100%;
  }
}
